<%= render "/users/shared/navbar" %>
<div class="fluid-container">
<div class="col-md-10 offset-md-1">
    <div class="jumbotron pt-4 pb-2">
    <div class="fluid-container">
        <h1 class="display-4">Service Management Console</h1>
        <p class="lead"><b>fakesite.webcommandcenter.com</b> Configure, Deploy, Manage, and View Services</p>
    </div>
</div>
    <!--
    <div class="fluid-container">
        <div class="d-flex flex-row">
            <div class="pr-2"><%= link_to "Get Started", users_provision_path, method:"POST" %></div>
            <div class="pl-2"><%= link_to "Manage Console Settings", users_provision_path, method:"POST" %></div>
            <div class="pl-2 pr-2"><%= link_to "Change Payment Method", users_provision_path, method:"POST" %></div>
            <div class="pl-2 pr-2"><%= link_to "Contact Support Team", users_provision_path, method:"POST" %></div>
            <div class="pl-2"><%= link_to "See Documentation and Guides", users_provision_path, method:"POST" %></div>
        </div>
    </div>
    <hr/>
    
    -->
    <div class="fluid-container mt-4" id="runningServices">
        <div class="row mb-2">
            <div class="col-sm-2"><a href="#">Your Web Portal</a></div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured</div>
            <div class="col-sm-2 ml-1 badge badge-success">Online</div>
            <a class="col-sm-3 ml-1 badge badge-danger" href="#">Take Service Offline</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs <span class="badge badge-light">435</span></a>
        </div>
        <div class="row mb-1">
            <div class="col-sm-2">Database Server</div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured <span class="badge badge-light">v10.3.12</span></div>
            <div class="col-sm-2 ml-1 badge badge-success">Online</div>
            <a class="col-sm-3 ml-1 badge badge-danger" href="#">Take Service Offline</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs <span class="badge badge-light">4</span></a>
        </div>
        <!--
        <div class="fluid-container mb-2 pb-1 bg-secondary text-white">
            <div class="container">
                <div class="row"><div class="col-sm-12"><h4>MySQL Log</h4></div></div>
                <div class="row"><div class="col-sm-12 small">2019-03-25 17:16:34 0 [Note] Reading of all Master_info entries succeded</div></div>
                <div class="row"><div class="col-sm-12 small">2019-03-25 17:16:34 0 [Note] Added new Master_info '' to hash table</div></div>
                <div class="row"><div class="col-sm-12 small">2019-03-25 17:16:34 0 [Note] mysqld: ready for connections.</div></div>
                <div class="row"><div class="col-sm-12 small">Version: '10.3.12-MariaDB-1:10.3.12+maria~bionic'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  mariadb.org binary distribution </div></div>
            </div>
        </div>
        -->
        <div class="row mb-2">
            <div class="col-sm-2">Identity Management</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Not Configured</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Offline</div>
            <a class="col-sm-3 ml-1 badge badge-warning" href="#">Configure Identity Provider</a>
            <a class="col-sm-2 ml-1 badge badge-dark" href="#">View Logs</a>
        </div>
        <hr/>
        <div class="row mb-2">
            <div class="col-sm-2">Kanboard</div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured <span class="badge badge-light">v1.2.8</span></div>
            <div class="col-sm-2 ml-1 badge badge-success">Online</div>
            <a class="col-sm-3 ml-1 badge badge-danger" href="#">Take Service Offline</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs <span class="badge badge-light">15</span></a>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2">NextCloud</div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured <span class="badge badge-light">v15</span></div>
            <div class="col-sm-2 ml-1 badge badge-success">Online</div>
            <a class="col-sm-3 ml-1 badge badge-danger" href="#">Take Service Offline</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs <span class="badge badge-light">215</span></a>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2">Wordpress</div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured <span class="badge badge-light">v7.3</span></div>
            <div class="col-sm-2 ml-1 badge badge-danger">Offline</div>
            <a class="col-sm-3 ml-1 badge badge-success" href="#">Take Service Online</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs</a>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2">Bitwarden</div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured <span class="badge badge-light">v1.14.0</span></div>
            <div class="col-sm-2 ml-1 badge badge-success">Online</div>
            <a class="col-sm-3 ml-1 badge badge-danger" href="#">Take Service Offline</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs</a>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2">Gitlab</div>
            <div class="col-sm-2 ml-1 badge badge-success">Configured <span class="badge badge-light">v11.7</span></div>
            <div class="col-sm-2 ml-1 badge badge-success">Online</div>
            <a class="col-sm-3 ml-1 badge badge-danger" href="#">Take Service Offline</a>
            <a class="col-sm-2 ml-1 badge badge-info" href="#">View Logs</a>
        </div>
        <hr/>
        <div class="row mb-2">
            <div class="col-sm-2">Accounting Software</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Not Configured</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Offline</div>
            <a class="col-sm-3 ml-1 badge badge-warning" href="#">Configure Accounting Software</a>
            <a class="col-sm-2 ml-1 badge badge-dark" href="#">View Logs</a>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2">VPN Connection</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Not Configured</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Offline</div>
            <a class="col-sm-3 ml-1 badge badge-warning" href="#">Configure VPN Connection</a>
            <a class="col-sm-2 ml-1 badge badge-dark" href="#">View Logs</a>
        </div>
        <div class="row mb-2">
            <div class="col-sm-2">Ansible CNC Server</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Not Configured</div>
            <div class="col-sm-2 ml-1 badge badge-danger">Offline</div>
            <a class="col-sm-3 ml-1 badge badge-warning" href="#">Configure Ansible</a>
            <a class="col-sm-2 ml-1 badge badge-dark" href="#">View Logs</a>
        </div>
    </div>
</div>
</div>