<%= render 'admins/shared/navbar' %>
<div class="fluid-container">
    <div class="col-md-10 offset-md-1">
        <div class="jumbotron pt-4 pb-2 mb-1">
        <div class="fluid-container">
            <h1 class="display-4">Datapoints</h1>
            <p class="lead">If more data is needed see Rundeck</p>
            <div class="row">
                <div class="col-sm-1"><%= link_to "Dashboard", authenticated_admin_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "Centerview", admins_centerview_path, class:"link" %></div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-10 offset-md-1">
        <!-- BEGIN DataPoints PACK -->
        <%= content_tag :div, id:"DataPoints" do %>
        <% end %>
        <%= javascript_pack_tag 'admin/DataPoints' %>
        <!-- END DataPoints PACK -->
    </div>
</div>
