<%= render 'admins/shared/navbar' %>
<div class="fluid-container">
    <div class="col-md-10 offset-md-1">
        <div class="jumbotron pt-4 pb-2 mb-1">
        <div class="fluid-container">
            <h1 class="display-4">Centerview</h1>
            <p class="lead">Customers, Domains, Gitlab Environments, DO Instances</p>
            <div class="row">
                <div class="col-sm-1"><%= link_to "Blazer (Business Intelligence)", admins_blazer_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "Dashboard", authenticated_admin_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "Datapoints", rundeck_datapoints_path, class:"link" %></div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-10 offset-md-1">
        <!-- BEGIN CenterView PACK -->
        <%= content_tag :div, id:"CenterView" do %>
        <% end %>
        <%= javascript_pack_tag 'admin/CenterView' %>
        <!-- END CenterView PACK -->
    </div>
</div>