<%= render 'admins/shared/navbar' %>
<div class="fluid-container">
    <div class="col-md-10 offset-md-1">
        <div class="jumbotron pt-4 pb-2 mb-1">
        <div class="fluid-container">
            <h1 class="display-4">Admin Dashboard</h1>
            <p class="lead">Validate Domains, and Confirm Builds</p>
            <div class="row">
                <div class="col-sm-1"><%= link_to "Blazer (Business Intelligence)", admins_blazer_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "CenterView", admins_centerview_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "User Statuses", admins_user_statuses_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "Datapoints", rundeck_datapoints_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "All Products", products_all_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "Concierge", admins_concierge_path, class:"link" %></div>
            </div>
        </div>
        </div>
    </div>

    <!-- BEGIN USER PACK -->
    <%= content_tag :div, id:"AdminDashboard", data: {domainValidationsCount: @domainValidationsCount, buildTicketsCount: @buildTicketsCount, supportTicketsCount: @supportTicketsCount, deployedUsers: @deployedUsers, decomTicketsCount: @decomTicketsCount}.to_json do %>
    <% end %>
    <%= javascript_pack_tag 'AdminDashboard' %>
    <!-- END USER PACK -->

    <div class="col-md-10 offset-md-1">
        <canvas class="chart-container" id="adminOverviewChart" height="100vv"></canvas>
    </div>
    
</div>