<%= render 'admins/shared/navbar' %>
<div class="fluid-container">
    <div class="col-md-10 offset-md-1">
        <div class="jumbotron pt-4 pb-2 mb-1">
        <div class="fluid-container">
            <h1 class="display-4">User Statuses</h1>
            <p class="lead">Every User based on Current Status.</p>
            <div class="row">
                <div class="col-sm-1"><%= link_to "CenterView", admins_centerview_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "Datapoints", rundeck_datapoints_path, class:"link" %></div>
                <div class="col-sm-1"><%= link_to "All Products", products_all_path, class:"link" %></div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-md-10 offset-sm-1">
        <div class="col-sm-10 offset-sm-1">
            <% @u3.each do |f| %>
                <div class="row"><h4><%= f.first  %></h4></div>
                <% f[1].each do |email| %>
                    <div class="row"><div class="col-sm-4"><%= email %></div></div>
                <% end %>

            <% end %>
        </div>
    </div>
</div>