<%= render 'devise/shared/navbar' %>

<div class="container">
  <h2 class="mt-2">Log in</h2>
  <hr/>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label :email, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "", class:"form-control" %>
      </div>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="form-group row">
        <div class="col-sm-2">Remember Me</div>
        <div class="col-sm-10">
          <div class="form-check">
            <%= f.check_box :remember_me, class:"form-check-input" %>
            <label class="form-check-label" for="gridCheck1">
              Remember Me
            </label>
          </div>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class:"btn btn-primary mt-1" %>
    </div>
  <% end %>

</div>
