<li class="nav-item dropdown hidden-md-down">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Account Settings", users_path, class:"dropdown-item" %>
        <%= link_to "Edit Account Password", edit_user_registration_path, class:"dropdown-item" %>
        <%= link_to "Billing", billing_path, class:"dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Documentation and Guides", docs_path, class:"dropdown-item" %>
        <%= link_to "Contact Support", contact_path, class:"dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
    </div>
</li>