<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
    <%= link_to home_path, class:"navbar-brand" do %>
        <img src="<%= asset_pack_path("media/images/LogoWithNameTransparentDark.png") %>" height="30" />
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <%= render 'users/shared/account_dropdown' %>
        </ul>
    </div>
    </div>
</nav>