<!-- Navigation -->
<%= render 'staticpages/navbar_top'%>

<!-- Header -->
<header class="py-1 mb-1 about-header swirly-background" style="no-repeat center center; background-size: cover;">
<div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-lg-12">
        <h1 class="display-4 text-white mt-3 mb-2">Solutions</h1>
        <p class="lead mb-5 text-white">Integrating new tools into any environment can be difficult, that is why we are here to help!</p>
    </div>
    </div>
</div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row mt-4">
        <div class="col-md-12 mb-4">
            <h2>Integrations</h2>
            <hr>
            <p>
                Tools are only useful if used.
                Understanding how to use the products in the OurCompose suite is a great way to start your journey into being more productive.
                With Integrations, we can help you understand both where and how to implement our suite.
            </p>
            <p>
                This integration discussion with you or your business can include anything from a basic overview of features to showing off the intracacies of a specific application.
                We are familiar with all the applications we provide an can go into great detail on how we suggest they be implemented within your personal life or your organization. 
            </p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12 mb-4">
            <h2>Runners</h2>
            <hr>
            <p>
                Runners are our version of automation.
                With runners you have the ability to automate any task.
                This includes anything from performing an operation when a file is uploaded to a Nextcloud folder to sending weekly reports from Firefly-III.
                There are endless possibilities with our runners packages.
                We will meet with you to go over your requirements and we will be in contact through the development cycle.
                See below for just a few options we have:
            </p>
            <ul>
	            <li>Perform an operation on files when they are uploaded to a specific Nextcloud folder</li>
	            <li>Copy files to a specific Nextcloud folder when put into any task in a Kanboard project</li>
                <li>Schedule a run compositional run when a file is uploaded to a Nextcloud Folder</li>
	            <li>Schedule a run compositional run when a commit is pushed to a git repo</li>
	            <li>Have a weekly report email to you about disk space consumed</li>
	            <li>Have a weekly report email about your finance reports in firefly-iii</li>
	            <li>Check for nextcloud appliciation updates every Sunday at 3 in the morning</li>
	            <li>Have reminder emails kicked off by start dates/due dates in Kanboard tasks.</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-12 mb-4">
            <h2>Start your Automation Journey</h2>
            <hr>
            <p>
                <%= link_to "Contact us", contact_path %> mentioning integrations or runners in the subject to get started.
            </p>
        </div>
    </div>

</div>
<!-- /.container -->

<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>