<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <%= f.label :email, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "", class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions", class:"btn btn-primary mt-1" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
