<%= render "/users/shared/navbar" %>
<div class="fluid-container">
<div class="col-md-10 offset-md-1">
    <div class="fluid-container pb-4 mt-2">
        <h1>Update Settings:</h1>
    </div>
</div>
</div>

