<%= render "/users/shared/navbar" %>
<div class="fluid-container">
<div class="col-md-10 offset-md-1">
    <div class="jumbotron pt-4 pb-2 mb-0">
    <div class="fluid-container">
        <h1 class="display-4">Account</h1>
        <p class="lead">Account Dashboard</p>
    </div>
    </div>
    <div class="fluid-container pb-4">
        <%= render 'users/shared/flash' %>
        
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript">
        Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
        </script>

        <!-- BEGIN USER PACK -->
        <%= content_tag :div, id:"AccountInfo", data: { userInfo: @userInfo.to_json, stripeAPIKey: @stripe_api_key.to_json } do %>
        <% end %>
        <script id="stripe-js" src="https://js.stripe.com/v3/"></script>
        <%= javascript_pack_tag 'AccountInfo' %>
        <!-- END USER PACK -->

        <hr/>
    </div>
</div>
</div>
