<footer class="container" style="">
      <div class="row">
        <div class="col-12 col-md">
          <div class="row">
            <img class="img-responsive" style="max-width: 24px; max-height:24px;" src="<%= asset_pack_path('media/images/CircularLogoTransparent.png') %>" />
            <small class="d-block mt-1 ml-1 text-muted">© 2020</small>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5>Services</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "Products & Services", products_path, class:"text-muted" %></li>
            <li><%= link_to "Pricing", pricing_path, class:"text-muted" %></li>
            <li><%= link_to "Docs", docs_path, class:"text-muted" %></li>
            <li><%= link_to "Solutions", consulting_path, class:"text-muted" %></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "Students", cases_students_path, class:"text-muted" %></li>
            <li><%= link_to "Developers", cases_developers_path, class:"text-muted" %></li>
            <li><%= link_to "Open Source Projects", cases_projects_path, class:"text-muted" %></li>
            <li><%= link_to "Small Business Owners", cases_owners_path, class:"text-muted" %></li>
            <li><%= link_to "Team Leads", cases_leads_path, class:"text-muted" %></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "About Us", about_path, class:"text-muted" %></li>
            <li><%= link_to "Alternatives", alternatives_path, class:"text-muted" %></li>
            <li><%= link_to "Privacy", privacy_path, class:"text-muted" %></li>
            <li><%= link_to "Terms", terms_path, class:"text-muted" %></li>
            <li><%= link_to "Contact", contact_path, class:"text-muted" %></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Community</h5>
          <ul class="list-unstyled text-small">
            <li><%= link_to "Podcast", podcast_path, class:"text-muted" %></li>
            <li><%= link_to "Forum", forum_path, class:"text-muted" %></li>
            <li><%= link_to "Gitlab", gitlab_path, class:"text-muted" %></li>
            <li><%= link_to "Feature Roadmap", roadmap_path, class:"text-muted" %></li>
          </ul>
        </div>
      </div>
</footer>
