<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <%= link_to root_url, class:"navbar-brand" do %>
            <img src="<%= asset_pack_path("media/images/LogoWithNameTransparent.png") %>" height="30" />
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to "About", about_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Products & Services", products_url, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Pricing", pricing_url, class:"nav-link" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Use Cases", cases_index_path, class:"dropdown-item" %>
                <%= link_to "Solutions", consulting_path, class:"dropdown-item" %>
                <%= link_to "Contact", contact_path, class:"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Alternatives", alternatives_path, class:"dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Documentation", docs_url, class:"dropdown-item" %>
                <%= link_to "Community", forum_url, class:"dropdown-item" %>
                <%= link_to "Podcast", podcast_url, class:"dropdown-item" %>
                <%= link_to "Gitlab", gitlab_url, class:"dropdown-item" %>
                <%= link_to "Feature Roadmap", roadmap_url, class:"dropdown-item" %>

                </div>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <%- if !user_signed_in? -%>
                <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %>
                <%= link_to "Log in", new_user_session_path, class:"nav-link" %>
            <%- else -%>
                <%= render 'users/shared/account_dropdown' %>
            <%- end -%>
        </div>
    </div>
    </div>
</nav>

<!-- Flash Messages -->
<div class="container-fluid">
    <div class="row">
    <div class="col-sm-12">
        <% flash.each do |type, msg| %>
            <% if type == "notice" %>
                <div class="alert alert-success">
            <% elsif type == "alert" %>
                <div class="alert alert-danger">
            <% else %>
                <div class='alert alert-<%= "#{type}" %>'>
            <% end %>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <ul>
                <li>
                <%= msg %>
                </li>
            </ul>
            </div>
        <% end %>
    </div>
    </div>
</div>
<!-- End Flash Messages -->
