<!-- Navigation -->
<%= render 'staticpages/navbar_top'%>

<!-- Header -->
<!-- Header -->
<header class="py-1 mb-4 about-header swirly-background" style="no-repeat center center; background-size: cover;">
<div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-lg-12">
        <h1 class="display-4 text-white mt-3 mb-2">About</h1>
        <p class="lead mb-5 text-white">OurCompose provides the best platform to help any sized organization or individual boost productivity and enhance organization.</p>
    </div>
    </div>
</div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-4">
            <h2>What We Do</h2>
            <hr>
            <p>We took a handful of open source applications and integrated them together into a product named OurCompose making it easy for anyone to deploy a suite of tools at the click of a button. When you sign up, we use OurCompose to build a server custom to your organization. The tools are then available for you and your organization to use.</p>
            <p>On top of the tools we provide, we wanted to create a knowledge bank of resources to help any business organize and manage everything from their IT tools to their finances and day-to-day operations. Check out our forums and public documentation for more!</p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">View Tools</h4>
                <p class="card-text">Our core set of tools for OurCompose include: Kanban, NextCloud, Bitwarden!</p>
            </div>
            <div class="card-footer">
                <%= link_to "Learn More about these Tools!", products_path, class:"btn btn-primary" %>
            </div>
        </div>
        </div>
        <div class="col-md-6 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">View Source</h4>
                <p class="card-text">If you prefer to manage your own infrastructure and support, we open sourced the tools and made them available for anyone to use on Gitlab</p>
            </div>
            <div class="card-footer">
                <a href="https://gitlab.com/compositionalenterprises" class="btn btn-primary">Go to Gitlab!</a>
            </div>
        </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>