<!-- Navigation -->
<%= render 'staticpages/navbar_top'%>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose Alternatives</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        See how we stack up against our competitors!
    </p>
    </div>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pb-5">
        <div class="col-sm-8 offset-sm-2">
            <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">OurCompose vs Cloudron.io</h5>
                    <p class="card-text">
                        OurCompose offers solutions for everyone, not just developers and sysadmins. 
                        Our current service selection is constantly growing.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">OurCompose vs Heroku</h5>
                <p class="card-text">OurCompose offers a better price on services, and a more managed approach so you can focus on what you need to.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-8 offset-sm-2">
            <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">OurCompose vs DigitalOcean App Platform</h5>
                <p class="card-text">OurCompose focuses on productivity tools and applications that help you build, produce and track success.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">OurCompose vs Self Hosted</h5>
                <p class="card-text">OurCompose takes care of the infrastructure meaning you don't have to worry about database upgrades, storage contstraints, or upgrading hosts.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-8 offset-sm-2">
            <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">OurCompose vs a Managed Service Provider</h5>
                <p class="card-text">OurCompose offers a cost effecient way to manage all your services and OurCompose has no hidden fees or extra monthly costs.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">OurCompose vs Each Service</h5>
                <p class="card-text">OurCompose provides a central way to manage services as compared to dealing with multiple providers.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Why OurCompose</h1>
        <div class="container-fluid">
        <div class="row">
        <div class="col-sm-8 offset-sm-2">
        <p class="lead">
            OurCompose provides a range of applications to suit any software need.
        </p>
        </div>
        </div>
        </div>
    </div>
    
    <!-- Icons Grid -->
    <section class="bg-light text-center mb-5 mt-1">
        <div class="container">
        <div class="row">
            <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"><img src="<%= asset_pack_path("media/images/icon-secure.svg", class:"responsive")%>" /></i>
                </div>
                <h3>Secure</h3>
                <p class="lead mb-0">We keep the infrastructure up to date and secure for you!</p>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"><img src="<%= asset_pack_path("media/images/icon-code.svg", class:"responsive")%>"/></i>
                </div>
                <h3>Open Sourced</h3>
                <p class="lead mb-0">Our source code is available on Gitlab <%= link_to "here", "https://gitlab.com/compositionalenterprises" %>!</p>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"><img src="<%= asset_pack_path("media/images/icon-settings.svg", class:"responsive")%>" /></i>
                </div>
                <h3>Customizable</h3>
                <p class="lead mb-0">Select the services you want to deploy!</p>
            </div>
            </div>
        </div>
        </div>
    </section>

</div>

<div style="padding-top:1%;">
    <%= render 'staticpages/footer' %>
</div>
