<!-- Navigation -->
<%= render 'staticpages/navbar_top'%>

<!-- Header -->
<header class="py-1 mb-1 about-header swirly-background" style="no-repeat center center; background-size: cover;">
<div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-lg-12">
        <h1 class="display-4 text-white mt-3 mb-2">Contact</h1>
        <p class="lead mb-5 text-white">Reach out with any questions!</p>
    </div>
    </div>
</div>
</header>

<div class="container mt-4">
<div class="row">
<div class="col-sm-6">
<%= form_with model: @contact, class: "mb-4", local: true do |f| %>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <%= f.text_field :first_name, class:"form-control" %>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Last Name (optional)</label>
            <%= f.text_field :last_name, class:"form-control" %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputEmail4">Email</label>
            <%= f.text_field :email, class:"form-control" %>
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Phone (optional)</label>
            <%= f.text_field :phone_number, class:"form-control" %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Subject</label>
        <%= f.text_field :subject, class:"form-control", value: @subject %>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <%= f.text_area :description, class:"form-control", rows:"3", value: @description %>
    </div>
    <%= f.submit "Contact!", class:"btn btn-primary" %>
<% end %>
</div>
</div>
</div>

<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>