<%= render 'staticpages/navbar_top'%>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">WebCommandCenter</h1>
        <p class="lead">Deploying services has never been easier.</p>
        <hr class="my-4">
        <p>
            This service can be described as one step below a managed service provider.
            It is built for small to medium sized software teams and small businesses to help with productivity.
        </p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>