<!-- Navigation -->
<%= render 'staticpages/navbar_top' %>

<div class="container-fluid">
<div class="row" style="min-height:96vh">
<div class="col-sm-6 my-auto offset-sm-1" style="">


<!-- Masthead -->
<div class="text-white text-center container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <img class="img-responsive" style="max-width: 99%;" src="<%= asset_pack_path('media/images/LogoWithNameTransparent.png') %>" />
        </div>
    </div>
</div>

<section class="features-icons bg-light text-center" style="padding-bottom: 0px;padding-top: 1rem;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-10 mx-auto">
                <%= javascript_pack_tag "index-typewriter.js" %>
                <h4 class="mb-4 font-weight-normal">
                    <div class="row text-center">
                        <div class="col-sm-12 text-center">OurCompose makes it easy to deploy:</div>
                    </div>
                    <div class="row justify-content-center">
                    <span class="typewrite flex" data-period="2000" data-type='[ "Storage Solutions", "Content Management Systems", "Project Management Software", "IT Operations Tooling", "Organization Management Tools" ]'>
                        <span class="wrap"></span>
                    </span>
                    </div>
                </h4>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="col-sm-4 my-auto mx-auto">
    <div style="padding-bottom:5%; padding-top:1%;" id="suite" class="">
    <div class="container-fluid">
    <div class="col-sm-10">
    <span class="subtitle-1 small">Newsletter & Podcast</span>
        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="https://ourcompose.us17.list-manage.com/subscribe/post?u=5ad50617f622ad67a5622b269&amp;id=a8561e41df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-group" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h3 class="section-title-1 font-weight-bold" style="font-size: 28px;">Make it in the modern world without compromising anything</h3>
            <div class="mc-field-group">
                <label for="mce-FNAME">Name <small>(Optional)</small></label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
            </div>
            <div class="mc-field-group mb-1">
                <label for="mce-EMAIL">Email Address  <span class="asterisk text-danger"><small>*required</small></span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5ad50617f622ad67a5622b269_a8561e41df" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary mt-2"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
    </div>
</div>
</div>
</div>
</div>

<div style="padding-bottom:2%;" id="about-us">
  <div class="container">
  <div style="position:relative;overflow:hidden;width:100%;padding-top:56.25%">
      <iframe style="position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;border:none;" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLt92CQtzdbDIRZD6avCAaT_DRwQX8-tj6&autoplay=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  </div>
</div>

<div style="padding-bottom:2%;" id="about-us">
  <div class="container">
    <div class="row">
    <div class="col-12 mb-1" style="margin-top:4rem !important;">
    <span class="subtitle-1 small">Next Steps</span>
    <h2 class="section-title-1 font-weight-bold">Where should we go next?</h2>
    </div>
    </div>
  <div class="row mt-2 col-sm-12">
      <div class="mt-1">
          <%= link_to "Deploy Services Now!", pricing_path, class:"btn btn-primary btn-xl js-scroll-trigger" %>
      </div>
      <div class="mt-1 ml-1">
          <%= link_to "Learn More!", about_path, class:"btn btn-secondary btn-xl js-scroll-trigger" %>
      </div>
  </div>
</div>
</div>

<div style="padding-bottom:2%;" id="suite">
<div class="container">
    <div class="row">
    <div class="col-12 mb-5" style="margin-top:4rem !important;">
    <span class="subtitle-1 small">Features</span>
    <h2 class="section-title-1 font-weight-bold">The OurCompose Suite</h2>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/gitlab.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Innovative Technologies</h2>
    <p>At Compositional Enterprises, we value our time as much as you do. That's why we only use the best Free, Libre, and Open Source tools to produce our quality content and products.</p>
    </div>
    <div class="d-flex feature-v1">
    <span class="wrap-icon icon-users"></span>
    <div>
    <h3>Open Source</h3>
    <p>All the software we use and develop is open source and can be found on Gitlab!</p>
    </div>
    </div>
    <div class="d-flex feature-v1">
    <span class="wrap-icon icon-layers"></span>
    <div>
    <h3>Best in Class</h3>
    <p>We pick services that are constantly updated with practical use in mind.</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/portal.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Powerful Apps</h2>
    <p>Our suite of applications will help any student, developer, project maintainer, small business owner or team lead push innovation past its current bounds.</p>
    </div>
    <div class="d-flex feature-v1">
    <span class="wrap-icon icon-cog"></span>
    <div>
    <h3>Many Features</h3>
    <p>From Runners to Portal, we offer many customizations to help you organize your workflow.</p>
    </div>
    </div>
    <div class="d-flex feature-v1">
    <span class="wrap-icon icon-bolt"></span>
    <div>
    <h3>Easy to use</h3>
    <p>We provide the tools to get any project off the ground and make it easy to onboard any new user.</p>
    </div>
    </div>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/documentation.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Community Based</h2>
    <p>From server tech to workflow methodology, and desktop applications to budgeting, we share our own tips and tricks on how to make it in the modern world without compromising anything.</p>
    </div>
    <div class="d-flex feature-v1">
    <span class="wrap-icon icon-users"></span>
    <div>
    <h3>Documentation for all</h3>
    <p>Our documentation is for anyone who wants to use it.</p>
    </div>
    </div>
    <div class="d-flex feature-v1">
    <span class="wrap-icon icon-layers"></span>
    <div>
    <h3>Safe secure and reliable</h3>
    <p>Our repos and documentation are available for anyone to look at and scrutinize making it more resilient for all.</p>
    </div>
    </div>
    </div>
    </div>
</div>
</div>

<%= render 'staticpages/footer' %>


