<!-- Navigation -->
<%= render 'staticpages/navbar_top' %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Plan Pricing</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        We price our plans based on techincal demands for services as well as the operating costs it takes for us to provide default support and high availability for our services.
        We also offer <%= link_to "Solutions", consulting_url %> to help you integrate these tools into your organization.
    </p>
    </div>
    </div>
    </div>
</div>

<div class="container mb-5">
    <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Minimal</h4>
        </div>
        <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>A basic toolkit</li>
            <li>Limited to 2 Services</li>
        </ul>
        <%= link_to "Notify Me When Available!", contact_path(subject: "Notify me when the Minimal Plan is Ready!", description: "Notify me when the Minimal is ready!"), class:"btn btn-lg btn-block btn-warning" %>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Personal</h4>
        </div>
        <div class="card-body">
        <h1 class="card-title pricing-card-title">$30 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>A full set of applications</li>
            <li>Limited to 4 Services</li>
        </ul>
        <%= link_to "Sign up for free", new_user_registration_path, class:"btn btn-lg btn-block btn-outline-primary" %>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Personal Plus</h4>
        </div>
        <div class="card-body">
        <h1 class="card-title pricing-card-title">$45 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
            <li>Personal Plan + Juice</li>
            <li>Unimited Services</li>
        </ul>
        <%= link_to "Get Started", new_user_registration_path, class:"btn btn-lg btn-block btn-primary" %>
        </div>
    </div>
    </div>
</div>


<script>
    Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
    });
</script>
  
<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>
