<!-- Navigation -->
<%= render 'staticpages/navbar_top'%>

<!-- Header -->
<header class="py-5 mb-5 about-header swirly-background" style="no-repeat center center; background-size: cover;">
<div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Terms</h1>
        <p class="lead mb-5 text-white">OurCompose never collects users data. We hold a strong stance on privacy and believe everyone should own their own data.</p>
    </div>
    </div>
</div>
</header>


<div class="container">
    <p>Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use any of our services.</p>
    <h2>Eligibility & Registration</h2>
    <p>Our Services are not directed to children younger than 13, and access and use of our Services is only offered to users 13 years of age or older. If you are under 13 years old, please do not register to use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years of age or older.</p>
    <p>Use of our Services requires a Cloudron.io account. You agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your account. You are responsible for keeping your password secure.</p>
    <p>Compositional Enterprises will not be liable for any loss or damage as a result of your failure to provide us with accurate information or to keep your Account secure.</p>
    <h2>Support</h2>
    <p>Support is handled via the <%= link_to "Contact Us", contact_path %> page. We also offer support via email.</p>
    <h2>Account</h2>
    <p>If you operate an OurCompose Instance, or otherwise make (or allow any third party to make) material available (any such material, "Content"),you are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of what form the Content takes, which includes, but is not limited to text, photo, video, audio, or code. By making Content available, you represent and warrant that your content does not violate these terms. It's your responsibility to ensure that your website's Content abides by applicable laws and by these Terms. We don't actively review the content on your OurCompose Instance.</p>
    <h2>Prohibited Uses</h2>
    <ul>
        <li>Publish material or engage in activity that is illegal under applicable law.</li>
        <li>Use OurCompose to overbear Compositional Enterprises systems, as determined by us in our
        sole discretion.</li>
        <li>Disclose the sensitive personal information of others.</li>
        <li>Send spam or bulk unsolicited messages.</li>
        <li>Interfere with, disrupt, or attack any service or network.</li>
        <li>Distribute material that is or enables malware, spyware, adware, or other
        malicious code.</li>
        <li>Reverse engineer or otherwise attempt to derive any source code or underlying
        ideas or algorithms of any part of the Services, except to the limited extent
        applicable laws specifically prohibit such restriction.</li>
        <li>Copy, rent, lease, distribute, or otherwise transfer any of the rights that
        you receive hereunder.</li>
    </ul>
</div>

<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>