<%= render "/users/shared/navbar" %>
<div class="fluid-container">
<div class="col-md-10 offset-md-1">
    <div class="jumbotron pt-4 pb-2">
    <div class="fluid-container">
        <h1 class="display-4">Billing</h1>
        <p class="lead">View Past Payments</p>
    </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Account</th>
                <th scope="col">Status</th>
                <th scope="col">Amount</th>
                <th scope="col">PDF Link</th>
            </tr>
        </thead>
        <tbody>
        <% if !@charges.nil? %>
            <% @charges['data'].each do |f| %>
                <tr>
                    <td><%= Time.strptime((f.created*1000).to_s, '%Q').to_datetime.strftime("%B %d, %Y") %></td>
                    <td><%= f.account_name %></td>
                    <td><%= f.status %></td>
                    <td>$<%= f.total.to_f/100 %></td>
                    <td><%= link_to "Invoice PDF", f.invoice_pdf %></td>
                <tr>
            <% end %>
        <% else %>
            <tr> No Charges Available! </tr>
        <% end %>
        </tbody>
    </table>



</div>
</div>