<%= render 'admins/shared/navbar' %>

<div class="container">
    <h3>Concierge Sign up</h3>
    <% flash.each do |type, msg| %>
        <% if type == 'error' %>
            <div class="alert alert-danger">
                <%= msg %>
            </div>
        <% else %>
            <div class="alert alert-info">
                <%= msg %>
            </div>
        <% end %>
    <% end %>
    <%= form_with url: admins_concierge_path, id: "concierge-form" do |form| %>
        <div class="form-group">
            <label for="customer-email">Customer Email Address</label>
            <input name="customer-email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="customer-domain">Customer Domain</label>
            <input name="customer-domain" type="text" class="form-control" id="domain1" aria-describedby="emailHelp" placeholder="yourinstance1.ourcompose.com">
            <small id="emailHelp" class="form-text text-muted">Ensure to use the .ourcompose.com domain. Also note domains are limited 6-32 alphanumeric characters.</small>
        </div>
        <div class="form-group row">
            <!-- Mount the instance within a <label> -->
            <label class="col-sm-12">
                Card Information
                <div id="card-element"></div>
                <input id="tokenidelementform" type="hidden" name="token-id" value="">
            </label>
        </div>
        <div class="form-group">
            <label for="customer-plan">Plan</label> <br>
            <input type="radio" id="personal" name="plan" value="personal">
            <label for="personal">Personal</label><br>
            <input type="radio" id="personal-plus" name="plan" value="personal-plus">
            <label for="personal-plus">Personal Plus</label><br>
        </div>
        <div class="form-group">
            <label for="customer-apps">Services:</label> <br>
            <% @available_applications.each do |available_app| %>
                <input type="checkbox" id="<%= available_app %>" name="application-<%= available_app %>" value="<%= available_app %>">
                <label for="<%= available_app %>"><%= available_app.capitalize %></label><br>
            <% end %>
        </div>
        <button type="submit" id="submit-button" class="btn btn-primary" onclick="beforeSubmitClick();">Submit</button>
    <% end %>

<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe("<%= @stripe_api_key[:stripe_pub_key] %>");
var elements = stripe.elements();
var cardElement = elements.create('card');
var cardElement = elements.getElement('card');
</script>

<script>
  cardElement.mount('#card-element');
</script>

<script>
    function beforeSubmitClick(){
        //console.log(event)
        event.preventDefault()
        stripe.createToken(cardElement).then(function(result) {
            // Handle result.error or result.token
            console.log(result.token)
            document.getElementById('tokenidelementform').value = result.token.id
            document.getElementById('concierge-form').submit()
        });
    }
</script>

</div>
