
.admin-loading-dots{
    margin-top: 5%;
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

.admin-loading-dots span{
    width: 15px;
    height: 15px;
    margin: 0 2px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    animation-name: jumpingDots;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.admin-loading-dots span:nth-child(2){
    animation-delay: .4s;
}

.admin-loading-dots span:nth-child(3){
    animation-delay: .8s;
}

@keyframes jumpingDots {
    40%{
        transform:  translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
}

