@import '~bootstrap/scss/bootstrap';

@import '../stylesheets/staticpages.scss';
@import '../stylesheets/users.scss';
@import '../stylesheets/admins.scss';


/* Corner Ribbons */
.corner-ribbon{
    width: 200px;
    background: #e56a19;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
/* Custom styles */

.corner-ribbon.sticky{
position: fixed;
}

.corner-ribbon.shadow{
box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */


.corner-ribbon.top-right{
top: 25px;
right: -50px;
left: auto;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}