<%= render 'staticpages/navbar_top' %>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose for Developers</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        See how OurCompose can benefit Developers!
    </p>
    </div>
    </div>
    </div>
</div>

<div style="padding-bottom:1%;">
<div class="container">
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/rundeck.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Rundeck to manage your frontend automation</h2>
    <p>Rundeck can help you manage automation in your organization. From auto deploys of repos, to a self service center, Rundeck can help any developer automate the mundane.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/apps_in_use/kanboard.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Kanboard to manage your next feature development</h2>
    <p>Kanboard will help you manage what to prioritize and what to focus on.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/wordpress.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Wordpress to manage project updates</h2>
    <p>Wordpress can help you keep your project informed. A Wordpress blog will not only keep everyone up to date, but also provide a location for anyone interested to find more information.</p>
    </div>
    </div>
    </div>
</div>
</div>

<!--

- rundeck
- kanboard
- wordpress/jekyll

--> 

<div style="padding-top:1%;">
    <%= render 'staticpages/footer' %>
</div>
