<%= render 'staticpages/navbar_top' %>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose Uses and Resources</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        OurCompose works in many ways for any type of organization or individual.
    </p>
    </div>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row pb-5">
        <div class="col-sm-8 offset-sm-2">
            <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">
                        Organize classes, clubs, and all the work on your plate.
                    </p>
                    <%= link_to "Students Page", cases_students_path, class:"stretched-link btn btn-primary" %>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Developers</h5>
                    <p class="card-text">
                        Manage projects, workflows, and integrations.
                    </p>
                    <%= link_to "Developers Page", cases_developers_path, class:"stretched-link btn btn-primary" %>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Team Leads</h5>
                <p class="card-text">
                    Lead your team, organize your projects and collaborate with others.
                </p>
                <%= link_to "Team Leads Page", cases_leads_path, class:"stretched-link btn btn-primary" %>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-8 offset-sm-2">
            <div class="card-deck">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Open Source Projects</h5>
                <p class="card-text">
                    Integrate OurCompose with your project to onboard new members, organize documentation, and track project work. 
                </p>
                <%= link_to "Projects Page", cases_projects_path, class:"stretched-link btn btn-primary" %>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Small Business Owners</h5>
                <p class="card-text">
                    Onboard new employees with ease, centralize documentation, and track projects with ease.
                </p>
                <%= link_to "Owners Page", cases_owners_path, class:"stretched-link btn btn-primary" %>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-8 offset-sm-2">
            <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Individuals and Teams</h5>
                    <p class="card-text">
                        Didn't see your use case? We offer many tools for individuals and teams to help them organize their lives and teams.
                        Check out our products page to learn more about the tools we offer and to get started with your custom OurCompose instance!
                    </p>
                    <%= link_to "Products Page", products_path, class:"stretched-link btn btn-primary" %>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>



<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>