<%= render 'staticpages/navbar_top' %>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose for Team Leads</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        See how OurCompose can benefit Team Leads!
    </p>
    </div>
    </div>
    </div>
</div>

<div style="padding-bottom:1%;">
<div class="container">
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/rundeck.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Rundeck to manage your frontend automation</h2>
    <p>Rundeck can help you manage automation in your organization. From auto deploys of repos, to a self service center, Rundeck can help any developer automate the mundane.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/apps_in_use/bitwarden.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Bitwarden to manage your passwords and your teams</h2>
    <p>Bitwarden takes care of managing passwords and tokens so you don't have to remember difficult passwords and can focus on more important things.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/bookstack.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Bookstack to manage team documentation</h2>
    <p>Bookstack can help you manage your documentation and help any new team member onboard with ease. Bookstack also makes documentation much easier to reference for all team members.</p>
    </div>
    </div>
    </div>
</div>
</div>


<!--

- rundeck
- bitwarden
- bookstack

--> 


<div style="padding-top:1%;">
    <%= render 'staticpages/footer' %>
</div>
