<%= render 'staticpages/navbar_top' %>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose for Business Owners</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        See how OurCompose can benefit Business Owners!
    </p>
    </div>
    </div>
    </div>
</div>

<div style="padding-bottom:1%;">
<div class="container">
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/bitwarden.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Bitwarden to Manage your Passwords</h2>
    <p>Bitwarden can help you keep track of your personal passwords as well as shared organizational passwords.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/apps_in_use/kanboard.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Kanboard to manage your priorities</h2>
    <p>Kanboard will help you manage what your team is prioritizing and what your organizaiton needs to focus on.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/nextcloud.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Nextcloud to Keep your files in one location!</h2>
    <p>Nextcloud can help you organize team files, important documentation, and any kind of media you may need to share or store.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/apps_in_use/bookstack.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Use SuiteCRM to keep track of your customer relationships!</h2>
    <p>Know your customer by creating a central repository for all your customer data enabling you to gain key insights that can be used to enhance and nurture your business relationships.</p>
    </div>
    </div>
    </div>
</div>
</div>

<!--

- bitwarden
- kanboard
- nextcloud
- bookstack

--> 


<div style="padding-top:1%;">
    <%= render 'staticpages/footer' %>
</div>
