<%= render 'staticpages/navbar_top' %>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose for Open Source Projects</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        See how OurCompose can benefit Open Source Projects!
    </p>
    </div>
    </div>
    </div>
</div>

<div style="padding-bottom:1%;">
<div class="container">
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/bookstack.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Bookstack to manage your documentation</h2>
    <p>Bookstack can help you manage your documentation, making it easier for anyone to reference. It can also make it easy for anyone to onboard to the project with a central location for all documentation.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/apps_in_use/wordpress.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Wordpress to keep community members up to date</h2>
    <p>Wordpress can help you keep your project informed. A Wordpress blog will not only keep everyone up to date, but also provide a location for anyone interested to find more information.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/nextcloud.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Nextcloud to keep your files in one location</h2>
    <p>Nextcloud offers a hub of services that can help you keep track of your project. Nextcloud offers a storage solution and centralized location to hold all your project information.</p>
    </div>
    </div>
    </div>
</div>
</div>

<!--

- bookstack
- wordpress
- nextcloud

--> 

<div style="padding-top:1%;">
    <%= render 'staticpages/footer' %>
</div>
