<%= render 'staticpages/navbar_top' %>

<!-- Header -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">OurCompose for Students</h1>
    <div class="container-fluid">
    <div class="row">
    <div class="col-sm-8 offset-sm-2">
    <p class="lead">
        See how OurCompose can benefit Students!
    </p>
    </div>
    </div>
    </div>
</div>

<div style="padding-bottom:1%;">
<div class="container">
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/firefly-iii.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Firefly III for Personal Finances</h2>
    <p>Manage your finances easier with Firefly III. This personal finance software will help you take control of your personal expenses and help you keep a regular budget.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center">
    <div class="col-lg-6 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-left">
    <img src="<%= asset_pack_path("media/images/apps_in_use/kanboard.png") %>" alt="Image" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 order-lg-1 ml-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Kanboard to manage your priorities</h2>
    <p>Kanboard can help you manage every class and task you need to complete. Kanboard can help you organize group projects and stay on top of all your assignments, keeping everything in order.</p>
    </div>
    </div>
    </div>
    <div class="row align-items-center mb-5">
    <div class="col-lg-6 mb-5 order-lg-2 mb-lg-0 aos-init aos-animate" data-aos="fade-right">
    <img src="<%= asset_pack_path("media/images/apps_in_use/bookstack.png") %>" class="img-fluid img-shadow">
    </div>
    <div class="col-lg-5 mr-auto">
    <div class="mb-4">
    <h2 class="section-title-2">Bookstack to keep track of what you know</h2>
    <p>Bookstack can help you manage notes for classes and keep your learning in one place for all your classes.</p>
    </div>
    </div>
    </div>
</div>
</div>

<!--

- Firefly-III
- Bookstack
- Kanboard

--> 

<div style="padding-top:1%;">
    <%= render 'staticpages/footer' %>
</div>
