<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container">
    <%= link_to root_path, class:"navbar-brand" do %>
        CC Admin
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown hidden-md-down">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <%= link_to "Edit Settings", edit_admin_registration_path, class:"dropdown-item" %>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
                </div>
            </li>
        </ul>
    </div>
    </div>
</nav>