<%= render 'devise/shared/navbar' %>

<div class="container">

<h2>Change your password</h2>
<hr/>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control col-sm-6" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control col-sm-6" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class:"btn btn-primary mt-1" %>
  </div>
<% end %>

</div>
