<%= render 'devise/shared/navbar' %>

<div class="container">

<h2 class="mt-2">Forgot your password?</h2>
<hr/>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group row">
    <%= f.label :email, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "", class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-primary mt-1" %>
  </div>
<% end %>

</div>
