<%= form_for @product do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :short %>
        <%= f.text_area :short, class:"form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :html %><br>
        <%= f.text_area :html, class:"form-control" %>
    </div> 
    <div class="form-group">
        <%= f.label :in_production %><br>
        <%= f.check_box :in_production %>
    </div>
    <div class="form-group">
        <%= f.label :coming_soon %><br>
        <%= f.check_box :coming_soon %>
    </div>
    <div>
        <%= f.submit 'Submit', :class => "btn btn-primary" %>
    </div>
<% end %>