<%= render 'staticpages/navbar_top' %>

<div class="container">
    <div class="display-3">All Products</div>
    <div class="row">
        <div class="col-sm-3"><%= link_to "New Product", new_product_path, class:"link" %></div>
    </div>
    <hr/>
    <% @all.each do |product| %>
        <div class="row">
            <div class="col-sm-2"><%= link_to product.name, product_path(product.name) %></div>
            <div class="col-sm-2"><%= link_to "edit", edit_product_path(product) %></div>
            <div class="col-sm-2"><%= link_to "delete", product_path(product), method: :delete %></div>
        </div>
    <% end %>
</div>

