<%= render 'staticpages/navbar_top' %>

<div class="container">
    <div class="display-3">Edit <%= @product.name %> </div>
    <%= render 'form' %>
    <div class="mt-2">
    <%= link_to 'Destroy', @product,  method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
    </div>
</div>

