<!-- Navigation -->
<%= render 'staticpages/navbar_top' %>

<!-- Start Page Content -->
<div class="container mb-4" style="">

    <!-- Current Products and Services -->
    <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="my-4 display-4">Products & Services</h1>
    </div>
    </div>
    <div class="card-columns m-3 mt-5">
        <% @products_in_production.each do |product| %>
            <div class="wow  fadeIn animated" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;">
                <%= link_to product_path(:id => product.name.gsub(' ', '-')), class:"project card text-dark" do %>
                <% if ProductsHelper.picture_exists?(product.name) == true %>
                    <img src="<%= asset_pack_path(ProductsHelper.picture_path(product.name)) %>" class="card-img-top" />
                <% end %>
                <div class="card-body">
                    <h5 id="git-for-wizards-name" class="card-title">
                        <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="" data-original-title="GitHub Repository"></i><%= product.name.capitalize %>
                    </h5>
                    <p id="git-for-wizards-desc" class="card-text"><%= product.short %></p>
                </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <!-- End Current Products and Services -->


    <!-- Coming Soon
    <div class="row">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="my-4 display-5">Coming Soon...</h1>
    </div>
    </div>
    <div class="card-columns m-3 mt-5">
        <% @products_coming_soon.each do |product| %>
            <div class="wow  fadeIn animated" data-wow-delay=".15s" style="visibility: visible; animation-delay: 0.15s; animation-name: fadeIn;">
                <%= link_to product_path(:id => product.name.gsub(' ', '-')), class:"project card text-dark" do %>
                <% if ProductsHelper.picture_exists?(product.name) == true %>
                    <img src="<% asset_pack_path(ProductsHelper.picture_path(product.name)) %>" class="card-img-top" />
                <% end %>
                <div class="card-body">
                    <h5 id="git-for-wizards-name" class="card-title">
                        <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="" data-original-title="GitHub Repository"></i><%= product.name.capitalize %>
                    </h5>
                    <p id="git-for-wizards-desc" class="card-text"><%= product.short %></p>
                </div>
                <% end %>
            </div>
        <% end %>
    </div>
    End Coming Soon -->

</div>
<!-- End Page Content -->

<div style="padding-top:5%;">
    <%= render 'staticpages/footer' %>
</div>