<%= render 'staticpages/navbar_top' %>

<div class="container">
    <h1 class="display-3"><%= @product.name.capitalize %></h1> 
    <div class="lead"><%= @product.short %></div>
    <%= link_to "Sign up and add #{ @product.name.capitalize } as a Service", new_user_registration_path, class:"btn btn-primary mt-2" %>
    <hr/>
    <div class=""> <%= @product.html.html_safe %></div>
</div>
