<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'OurCompose', description: "Ourcompose is a platform to deploy secure, customized, and easily managed software." %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'bundle', 'data-turbolinks-track': 'load' %>
    <%= stylesheet_pack_tag 'bundle', 'media':'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_pack_path("media/images/logo@16px.png") %>
  </head>

  <body class="bg-light">
    <%= yield %>
  </body>
  <div class="corner-ribbon top-right sticky sticky-top" style="background: #e56a19; z-index:1110">Alpha 1.0</div>
</html>
