<%= render 'devise/shared/navbar' %>

<div class="container">

  <h2 class="mt-2">Sign up</h2>
  <hr/>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group row">
      <%= f.label :email, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password, autocomplete: "", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Password Confirmation </label>
      <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "", class:"form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-2"><%= f.submit "Sign up", class:"btn btn-primary mt-1" %></div>
      <div class="col-sm-6 col-form-label mt-2 d-flex align-items-center text-muted">
        <small>Please verify your email after signing up! By signing up you agree to our terms, and privacy policy.</small>
      </div>
    </div>
  <% end %>

</div>